body {
  background-color: #dfdfdf;
}

.navbar-brand {
  background-color: #47A794;
  color: #fff;
  font-family: Georgia, serif;
  padding: 4px;
}

footer {
  background-color: darkslategrey;
  color: #47A794;
  height: 50px;
  padding: 15px;
}

footer p {
  text-align: center;
  color: #47A794;
}

.card {
  margin: 25px;
}

.card-title {
  font-family: Georgia, serif;
  color: #47A794;
}

#about-me-image {
  float: left;
  padding: 15px;
  max-width: 66.6%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#img-container {
  padding-top: 15px;
  text-align: center;
}

@media (min-width: 992px) {
}
